{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}


 {% block headers %}
 <h1>Contacto</h1>
 <span class="subheading">Acesoria</span> 
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hola, soy Grecia Montesdeoca Franco estos son mis contactos.</p>
        <br>
        <p><b>Teléfono:</b> +09 88 234 210</p>
        <p><b>Honorarios:</b> 75€/h (precio base)</p>
      </div>
    </div>
  </div>
{% endblock %}


    